body {
    font-family: $font-stack;
    color: $dark-color;
}

html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit;
}

.marginfix:before {
    content: "";
    display: table;
}

input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
}
