$primary: #1a7bc1;
$red: #da0808;
$green: #04cc33;
$fnts17: 17/14;
$fnts22: 22/14;
$fnts30: 30/14;

html {
  font-family: 'Roboto', 'IranSans', 'IranSans-Numeral', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 400;
  background-color: #fafafa;
}
li,
p,
a,
h1,
h3,
button,
span {
  font-family: 'Roboto' !important;
}
li {
  list-style-type: none;
}
button {
  cursor: pointer;
}

.flex {
  display: flex;

  &--column {
    flex-direction: column;
  }
  &--row {
    flex-direction: row;
  }
  &--grow {
    flex-grow: 1;
  }
  &--shrink {
    flex-shrink: 1;
  }
  &--justify-start {
    justify-content: flex-start;
  }
  &--justify-between {
    justify-content: space-between;
  }

  &--justify-center {
    justify-content: center;
  }

  &--justify-end {
    justify-content: flex-end;
  }

  &--align-center {
    align-items: center;
  }
}
.text--center {
  text-align: center;
}
h3 {
  font-size: #{$fnts17}rem;
  margin-bottom: 7px;
}

h1 {
  font-size: #{$fnts30}rem;
  font-weight: 600;
  margin: 20px 0px;
}
